/* Root */
:root {
    --fontSizeTitle: 46;
    --fontSizeDescription: 18;
    --fontSizeMenu: 16;
}



/*FONTS*/


@font-face {
    font-family: MenuShapiro;
    src: url("../assets/fonts/Shapiro/Shapiro\ 45\ Welter\ Wide.otf") format("opentype");
}

@font-face {
    font-family: MainTitle;
    src: url("../assets/fonts/Shapiro/Shapiro\ 75\ Heavy\ Extd.otf") format("opentype");

}

@font-face {
    font-family: Descriptions;
    src: url("../assets/fonts/Shapiro/Shapiro\ 35\ Feather\ Text.otf") format("opentype");
}

@font-face {
    font-family: Button;
    src: url("../assets/fonts/Shapiro/Shapiro\ 25\ Super\ Fly\ Text.otf") format("opentype");
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Space+Mono&display=swap');

* {
    color: white;
    box-sizing: border-box;
}

body {
    background-color: #0a0214;
}


.styledSection {
    /*padding: 10 70 40 70;*/
    padding: 20 130px;
}


.divider {
    border:1px solid red;
    height: 300px;;
}


/* Header */
.header {
    padding: 40 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.sectionTitleContainer p {
    padding: 10 40;
}

.sectionTitleContainer p {
    font-family: Descriptions;
    font-size: 16px;
}


.sectionTitle {
    font-size: 32px;
    font-family: MainTitle;
    padding: 20 40;
}


.navbar ul {
    font-family: MenuShapiro;
    font-size: var(--fontSizeMenu);
    text-transform: uppercase;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.navbar ul li {
    padding: 10 20;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.logoContainer a img {
    width: 80px;
}

/* First Section */


.allContent {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
    width: 100%;
    height: auto;

}


.contentContainer {
    padding: 40 50;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}


.contentContainer h1 {
    font-family: MainTitle;
    font-size: var(--fontSizeTitle);
}

.contentContainer p {
    font-family: Descriptions;
    font-size: var(--fontSizeDescription);
}


.contentContainer h3 {
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    align-items: center;
}

.contentContainer>h3::after {
    content: "-";
    color: red;

}

.homeButtons {
    display: flex;
}

.btnContainer {
    padding: 20 20;
    display: flex;
    justify-content: flex-start;
}

.btnContainer button {
    padding: 20 40;
    border: 1px solid #50bea5;
    border-radius: 40px;
    font-family: Button;
    font-size: 16px;
    background-color: transparent;

}

.allGalleries {
    display: flex;
}

.galleryContainer {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


#galleryContainer2 {
    margin-top: 100px;
}

.nftImages {
    width: 200px;
    border-radius: 10px;
}

/* Info box */

.infoBoxes {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(4, auto);
    height: 50%;
}

.box {
    background-image: url('../assets/images/image.png');
    background-size: cover;
    width: 100%;
    height: 80%;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 20px;
    border: 10px solid #39589f;

}

.bidContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: #1f1d2a;
    border-radius: 10px;
    text-align: center;
    width: 100%;
}

.bid {
    margin: 5 20;
    padding: 0 5;
}

.bid p {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    color: "red";
}

.bid h2 {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.placeBidBtn {
    display: flex;
    justify-content: center;
    margin: 10;
}

.placeBidBtn button {
    padding: 12 30;
    font-weight: bold;
    font-family: Button;
    background-color: #4fbfa5;
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


/* Features Section */

.featuresContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.gridFeatures {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 20px;
}

.gridFeatures div {
    background-color: rgb(54, 48, 78);
    padding: 20 30;
    border-radius: 20px;
    font-family: Descriptions;
}

.gridFeatures div h1 {
    font-size: 40px;
}

.gridFeatures div h2 {
    font-size: 18px;
}

.gridFeatures div p {
    font-size: 16x;
    color: #e0e0e0b7;
}

.marketplaceDescription {
    font-size: 20px;
    font-weight: 300;
}


.marketplace {
    grid-area: 1 / 1 / 4 / 3;
    /* background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(10, 10, 10, 0.774)), url('../assets/images/spectrumPurple.png') no-repeat;
    */
    border: cover;
    display: flex;
    flex-direction: column;


}


.button {
    margin-top: auto;
    padding: 10 10px;
    background-color: transparent;
    border: 1px solid #4fbfa5;
    border-radius: 10px;
    width: 40%;
    font-size: 16px;

}

.portfolio {
    grid-area: 1 / 3 / 2 / 5;
}

.giveaways {
    grid-area: 2 / 3 / 3 / 5;
}

.deals {
    grid-area: 3 / 3 / 4 / 5;
}


/* Marketplace platform */


.platform {
    padding: 10 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.platformImage img {
    width: 90%;
}

.platformContent {
    width: 60%;
    padding: 10 30px;
    display: flex;
    font-family: Descriptions;
}

.platformContent p {
    font-size: 18px;
    width: 100%;
    padding: 20px;
}

/* Creating and Selling Section*/

.tokenomicsContainer {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, auto));
    align-items: center;
    padding: 10 40;

}

.tokenomics {
    padding: 15 30px;
    background-color: #18182b;
    border-radius: 20px;
    max-width: 300px;

}

.tokenomicsDescription p {
    font-family: Descriptions;
    font-size: 14px;
    color: #e0e0e0b7;
    font-stretch: expanded;
}

.tokenPercentage p {
    padding: 100px;
    font-size: 22px;
    font-family: MainTitle;
    padding: 0;
    margin: 0;

}

.tokenPercentage>p::before {
    content: "";
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 8px;
    border-radius: 20px;
    margin: 15 0;

}


.percentageDef::before {
    background-color: #A52286;
}

.percentageLightRed::before {
    background-color: #C22A5A;
}

.percentageOrange::before {
    background-color: #3202C3;
}

.percentageBlue::before {
    background-color: #E9625F;
}

/* RoadMap */

.roadMapContainer {
    display: grid;
    grid-template-rows: repeat(2,auto);
}

.firstRoadmap {
    padding: 10 40;
    display: flex;
    justify-content: space-between;
    align-items: center;
   

}

.firstRoadmap p {
    width: 50%;
    font-size: 18px;
    font-family: Descriptions;
    color: #e0e0e0b7;
    
    
}

.firstRoadmap h2 {
    background: linear-gradient(90deg, rgba(254,94,0,1), rgba(246,69,98,1), rgba(194,45,225,1), rgba(246,69,98,1), rgba(254,94,0,1));
    color: transparent;
    -webkit-background-clip: text;
    font-size: 206px;
    font-family: MainTitle;
    text-align: left;
    padding:5%;
}

#roadMapBlue h2 {
    padding:0;
    -webkit-background-clip: text !important;
    background: linear-gradient(90deg, #3D6DFC, #42F5E1, #3D6DFC);
}

#roadMapBluePhase>ul>li::before {
    background: linear-gradient(90deg, #3D6DFC, #42F5E1, #3D6DFC) !important;
}


.Phase {
    width: 35%;
    padding: 10px 40;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #33334B;
    border-radius: 20px;
    box-shadow: 5px 10px 20px rgba(241, 236, 236, 0.068);


}

.Phase h1 {
    font-size: 30px;
    font-family: MainTitle;
    font-weight: 900;
}


.Phase ul {
    list-style: none;
    font-family: Descriptions;
    text-align: left;
    padding:0;
    width: 100%;
}

.Phase ul li {
    margin: 10 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    color: #C3C3E1;
}


.Phase>ul>li::before {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: linear-gradient(90deg, #F64562, #FE5E00 100%);
    display: block;
    margin:0 10;
}

