/*FONTS*/

@font-face {
    font-family: MenuShapiro;
    src: url("../assets/fonts/Shapiro/Shapiro\ 45\ Welter\ Wide.otf") format("opentype");
}

@font-face {
    font-family: MainTitle;
    src: url("../assets/fonts/Shapiro/Shapiro\ 75\ Heavy\ Extd.otf") format("opentype");

}

@font-face {
    font-family: Descriptions;
    src: url("../assets/fonts/Shapiro/Shapiro\ 35\ Feather\ Text.otf") format("opentype");
}

@font-face {
    font-family: Button;
    src: url("../assets/fonts/Shapiro/Shapiro\ 25\ Super\ Fly\ Text.otf") format("opentype");
}

@font-face {
    font-family: ShapiroT;
    src: url('../assets/fonts/Shapiro/Shapiro\ 55\ Middle\ Extd.otf');
}

@font-face {
    font-family: MiddleWide;
    src: url('../assets/fonts/Shapiro/Shapiro\ 55\ Middle\ Wide.otf');
}


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    color: white;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #0a0214;
    user-select: none;
}

#backgroundImage {
    position: fixed;
    width: 110%;
    top: 100px;
    left: 10px;
    z-index: -99;
}

/* Sections and titles with descriptions */
.styledSection {
    padding: 80 140 0 140;
    scroll-behavior: smooth;

}



.sectionTitleContainer p {
    font-family: MiddleWide;
    font-size: 16px;
    padding: 20 40;
}

.sectionTitle {
    font-size: 32px;
    font-family: MainTitle;
    padding: 20 40 20 40;
}


/* Header */
.header {
    display: block;
    transform: .5s;
    padding: 0 20 0 120;
    z-index: 999;
    position: fixed;
    width: 100%;
    left: 0;
    display: flex;
    flex-direction: row;
    transition: .5s;
    align-items: center;
    justify-content: space-between;
}

#close {
    transition: .5s;
    display: none;
}


.logoAndNav, .socialLinkAndButton {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.socialLinkAndButton {
    margin-left: auto;
}


.navbar ul {
    display: flex;
    font-family: MenuShapiro;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
    list-style: none;
}

.navbar ul li {
    padding: 10 20;

}

.navbar ul li a:hover {
    transition: .3s;
    color: rgba(70, 25, 162, 1);
}

.navbar ul li a {
    text-decoration: none;
}

.logoContainer a img, .footerContainer img {
    padding: 25px;
    width: 80px;
}

.socialLinks ul {
    list-style: none;
    display: flex;
    margin: 0 40 0 0;
}

.socialLinks ul li {
    font-size: 28px;
    padding: 0 10px;
}

.socialLinks ul li a i {
    /*
    -webkit-background-clip: text !important;
    color: transparent;
    background: linear-gradient(90deg, rgba(100, 200, 224, 1) 15%, rgba(137, 100, 215, 1) 41%, rgba(70, 25, 162, 1) 86%);
   */

    color: white;

}

.socialLinks ul li a i:hover {
    transition: .3s;
}

#twitter i:hover {
    color: #00acee;
}

#telegram i:hover {
    color: #229ED9;
}

#medium i:hover {
    color: rgb(100, 99, 99);
}

#discord i:hover {
    color: #5865F2;
}

.socialLinkAndButton button {
    padding: 10 40px;
    background: linear-gradient(90deg, rgba(98, 248, 187, 1) 31%, rgba(105, 251, 233, 1) 79%);
    font-weight: bold;
    font-family: MenuShapiro;
    font-size: 16px;
    color: black;
    border: none;
    outline: none;
    border-radius: 20px;

}

button:hover {
    cursor: pointer;
    transition: .4s;
    box-shadow: rgba(98, 248, 187, 1) 0px 0px 15px;
}


#toggleMenu {
    display: none;
}

/*Sticky Nav*/

.header.sticky {
    background-color: rgb(0, 0, 0);
    position: fixed;
    transition: .5s;
}

/*Mobile Nav*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #4619A2;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sidenav a {
    padding: 25px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
    font-family: MenuShapiro;
}

.sidenav div {
    display: flex;
    flex-direction: column;
    align-items: center;


}

#mobilebtn {
    padding: 15 40px;
    background-color: transparent;
    border: 1px solid #9e7df4;
    border-radius: 10px;
    font-family: Descriptions;
}

.mobileIcons {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.mobileIcons i {
    color: white;
    font-size: 35px;
}


/* First Section */

#Home {
    padding: 140 0 140 140;
    z-index: 99;
    background-color: #0a0214;
    box-shadow: 0 44px 60px #0a0214;
    height: 100%;
}


.allContent {
    display: flex;
    flex-direction: row;
    align-items: center;
}



.contentContainer {
    width: 50%;
    padding: 0 0 0 20px;
}

.contentContainer * {
    padding: 20 0;
}


.contentContainer h1 {
    font-family: MainTitle;
    font-size: 46px;
}

.contentContainer p {
    font-family: Descriptions;
    font-size: 18px;
}


.contentContainer h3 {
    color: transparent;
    font-family: MenuShapiro;
    align-items: center;
    background: linear-gradient(90deg, rgba(100, 200, 224, 1) 5%, rgba(137, 100, 215, 1) 8%, rgba(70, 25, 162, 1) 46%);
    -webkit-background-clip: text;
    display: flex;
    text-transform: uppercase;

}

.contentContainer>h3::after {
    content: "";
    background: linear-gradient(90deg, rgba(70, 25, 162, 1) 27%, rgba(137, 100, 215, 1) 58%);
    width: 100px;
    height: 5px;
    margin: 0 20;
    border-radius: 10px;

}

.homeButtons {
    display: flex;
    flex-direction: row;

}


.homeButtons button {
    border: none;
    padding: 15 40;
    background: linear-gradient(90deg, rgba(98, 248, 187, 1) 31%, rgba(105, 251, 233, 1) 79%);
    font-weight: bold;
    font-family: MenuShapiro;
    font-size: 16px;
    outline: none;
    border-radius: 20px;
    margin: 10;
    cursor: pointer;
}

.homeButtons button a {
    text-decoration: none;
    color: black;
}

.heroImage {
    width: 50%;
    display: flex;
    border-radius: 30px;
    margin: -50 10;
}



/* Features Section */

.featuresContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gridFeatures {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    cursor: pointer;
    height: 200px;
    padding: 0 30;

}

.gridFeatures i {
    margin: 0 0 10 0;
    font-size: 20px;
}

.portfolio, .giveaways, .deals {
    width: 100%;
    height: 50%;
    background-color: #131313;
    /*
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 25%);
    */
    padding: 20 30;
    border-radius: 10px;
    font-family: MiddleWide;
    line-height: 1.2;
    transition: .5s;
}


.gridFeatures div h2 {
    margin: 0 0 10 0;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gridFeatures div h2::after {
    font-family: 'Font Awesome 5 Free';
    content: "\f107";
    font-size: 28px;
    margin: 0 10;
    color: #815dee;
}

.gridFeatures div p {
    font-size: 16px;
    color: #e0e0e0b7;
    font-family: Descriptions;

}

.dropdownDescription {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    transition: .5s;
}



/* Hover Effect*/

.gridFeatures>div:hover, .gridFeatures>div:hover .dropdownDescription {
    transition: .5s;
    visibility: visible;
    opacity: 1;
    height: 80%;
}


/* Marketplace platform */

.platform {
    padding: 10 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.platformImage img {
    width: 90%;
    /*
    box-shadow: 5px 10px 25px rgba(255, 253, 253, 0.096);*/
    border-radius: 20px;
}

.platformContent {
    width: 100%;
    display: flex;
    font-family: MiddleWide;
    line-height: 1.5;
    /* Image not as same size as the others*/
}

.platformContent p {
    font-size: 18px;


}

/* Tax Distribution*/

.taxContainer {
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    gap: 20px;
    padding: 10 40;
}

.tax {
    padding: 10 20 20 20;
    height: 190px;
    background-color: #1B1C1E;
    border-radius: 20px;
    max-width: 300px;
    /*
    box-shadow: 15px 10px 20px rgba(95, 91, 91, 0.144);*/
}

.taxDescription p {
    padding: 10 0;
    font-family: MiddleWide;
    line-height: 1.2;
    font-size: 14px;
    color: rgb(202, 200, 200);
    font-stretch: expanded;
}

.taxPercentage p {
    padding: 100px;
    font-size: 22px;
    font-family: MainTitle;
    padding: 0;
    margin: 0;

}

.taxPercentage>p::before {
    content: "";
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 8px;
    border-radius: 20px;
    margin: 15 0;

}


.percentageDef::before {
    background-color: #A52286;
}

.percentageLightRed::before {
    background-color: #C22A5A;
}

.percentageOrange::before {
    background-color: #3202C3;
}

.percentageBlue::before {
    background-color: #E9625F;
}

/* RoadMap */

.firstRoadmap {
    padding: 0 40;
    margin: 30 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.firstRoadmap p {
    width: 50%;
    font-size: 18px;
    font-family: MiddleWide;
    color: #e0e0e0b7;
    font-weight: 400 !important;
    line-height: 1.5;

}



.firstRoadmap h2 {
    -webkit-background-clip: text !important;
    color: transparent;
    font-size: 206px;
    font-family: MainTitle;
    padding: 20 0 0 0;
    margin: 0 40 0 0;
}

#roadMapRed {
    align-items: center;
}

#roadMapRed h2 {
    background: linear-gradient(90deg, rgba(254, 94, 0, 1), rgba(246, 69, 98, 1), rgba(194, 45, 225, 1), rgba(246, 69, 98, 1), rgba(254, 94, 0, 1));
}

#roadMapBlue h2 {

    -webkit-background-clip: text !important;
    background: linear-gradient(90deg, #3D6DFC, #42F5E1, #3D6DFC);
}

#roadMapBluePhase>ul>li::before {
    background: linear-gradient(90deg, #3D6DFC, #42F5E1, #3D6DFC) !important;
}


.Phase {
    width: 35%;
    padding: 20px 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1B1C1E;
    border-radius: 20px;
    /*
    box-shadow: 5px 10px 20px rgba(241, 236, 236, 0.068);*/


}

.Phase h1 {
    font-size: 30px;
    font-family: MainTitle;
    font-weight: 900;
    margin: 10 0;
}


.Phase ul {
    list-style: none;
    font-family: Descriptions;
    text-align: left;
    padding: 0;
    width: 100%;
}

.Phase ul li {
    margin: 10 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    color: #C3C3E1;
}


.Phase>ul>li::before {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: linear-gradient(90deg, #F64562, #FE5E00 100%);
    display: block;
    margin: 0 10;
}


/*Tokenomics*/

.tokenomicsContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 30px;
}

.tokenStats {
    padding: 10 20;
    border-radius: 10px;
    background-color: #1B1C1E;
}

.tokenNumber {
    font-size: 38px;
    font-family: MainTitle;
    margin: 10 0;
}

.tokenNumber::before {
    content: "";
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 8px;
    border-radius: 20px;
    margin: 15 0;

}

.tokenTitle {
    font-family: Descriptions;
    color: #e0e0e0b7;
    font-size: 18px;
}

#chart {
    display: flex;
    align-items: center;
    justify-content: center;
}


#token {
    font-size: 28px;
}

#supply {
    color: #C3C3E1;
    font-weight: 100;
    margin: 10 0;
}

#tokenInfonContainer {
    font-family: MiddleWide;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#monthsContainer {
    grid-area: 1 / 1 / 2 / 3;
}

#artistFund {
    grid-area: 1 / 3 / 2 / 4;
}

#earlyBackers {
    grid-area: 1 / 4 / 2 / 5;
}

#treasury {
    grid-area: 1 / 5 / 2 / 6;
}

#chart {
    grid-area: 2 / 1 / 4 / 3;
}

#advisors {
    grid-area: 2 / 3 / 3 / 4;
}

#rewards {
    grid-area: 2 / 4 / 3 / 5;
}

#balancerLBP {
    grid-area: 2 / 5 / 3 / 6;
}

#initialLiquidity {
    grid-area: 3 / 3 / 4 / 4;
}

#team {
    grid-area: 3 / 4 / 4 / 5;
}

#airdrop {
    grid-area: 3 / 5 / 4 / 6;
}





#monthsContainer>h1::before {
    background-color: white;
}

#artistFund>h1::before {
    background-color: #c53ba9;
}

#earlyBackers>h1::before {
    background-color: #0072c5;
}

#treasury>h1::before {
    background-color: #48b2ff;
}

#advisors>h1::before {
    background-color: #9e7df4;
}

#rewards>h1::before {
    background-color: #04d1f7;
}

#balancerLBP>h1::before {
    background-color: #48b2ff;
}

#initialLiquidity>h1::before {
    background-color: #02ffff;
}

#team>h1::before {
    background-color: #00dcff;
}

#airdrop>h1::before {
    background-color: #00a1e3;
}


/* Footer */
footer {
    padding-top: 100px;
}

.footerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10 30;
}


.footerContainer p {
    font-family: 14px;
    font-family: Descriptions;
}




/*Scrollbar */

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    z-index: 99;
    background-color: black;

}

::-webkit-scrollbar-thumb {
    background-color: white;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .3) 20%, transparent 20%, transparent 40%, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, .3) 60%, transparent 60%, transparent 80%, rgba(255, 255, 255, 0.3) 80%);
    border-radius: 10px;
}



/*RESPONSIVE */

@media(max-width:1480px) {

    /*Nav*/
    .header {
        padding: 0 80;
    }

    /*Hero Section*/
    #Home {
        padding: 140 0 150 80;
    }

    /*SectionsF*/
    .styledSection {
        padding: 60 100 40 60;
    }

    /*Features */

    .gridFeatures>div:hover, .gridFeatures>div:hover .dropdownDescription {
        height: 90%;
    }
}

@media(max-width:1400px) {

    /*Features*/

    .gridFeatures>div:hover, .gridFeatures>div:hover .dropdownDescription {
        height: 95%;
    }


    /* Tax */

    .taxContainer {
        display: grid;
        grid-template-columns: repeat(2, auto);
        align-items: center;
        justify-content: space-between;

    }

    .tax {
        max-width: 100% !important;
    }


    .taxPercentage>p::before {
        width: 10%;
    }


    /*Hero Section*/
    #Home {
        padding: 140 0 140 80;
    }

}


@media(max-width:1300px) {

    /*Nav*/
    .header {
        padding: 20 20 0 60;
    }


    /*Hero Section*/
    #Home {
        padding: 180 0 340 60;
    }

    /*Sections*/

    .styledSection {
        padding: 30 0 30 0;
        scroll-margin-top: 60px;
    }

    /* Marketplace */

    .platform {
        padding: 0 30;
    }

    .platformContent {
        width: 90%;
    }

    .platformContent p {
        width: 100%;
        font-size: 14px;
        padding: 0;
    }

    /*Roadmap*/
    .firstRoadmap p {
        font-size: 16px;
    }



}

@media(max-width:1270px) {
    .socialLinkAndButton, .navbar {
        display: none;
    }

    #toggleMenu {
        transition: .5s;
        display: block;
        font-size: 32px;
        cursor: pointer;
    }
}




@media(max-width:1150px) {
    /*Sections*/

    .sectionTitle {
        font-size: 30px;
    }

    /*Home */

    .contentContainer h1 {
        font-size: 36px;
    }


    .contentContainer p {
        font-size: 16px;
    }



    /*Features*/

    .gridFeatures div h2 {
        font-size: 16px;
    }

    .gridFeatures div p {
        font-size: 15px;
    }

    /*Tokenomics*/

    .tokenomicsContainer {
        display: flex;
        flex-wrap: wrap;
    }

    .tokenTitle {
        font-size: 15px;
    }

    .tokenNumber {
        font-size: 34px;
    }

    .tokenStats {
        flex: 1 1 30%;
    }

    #monthsContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #monthsContainer h1 {
        font-size: 34px;
    }

    #monthsContainer p {
        font-size: 20px;
    }

    #backgroundImage {}
}


@media(max-width:1024px) {


    .header {
        top: 0;
    }

    /*Sections*/

    .styledSection {
        padding: 80 20px 20 20;
    }


    /*Home*/

    #Home {
        padding: 140 0 140 0;
        height: 90%;
        margin-top: 10%;
    }

    .allContent {
        padding: 0 40;
    }

    .contentContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .contentContainer h1 {
        font-size: 48px;
        text-align: center;
    }

    .heroImage {
        display: none;
    }


    /* Marketplace */

    .platform {
        gap: 50px;
    }

    .platformImage {
        width: 100%;
    }

    .platformImage img {
        width: 100%;
    }

    .platformContent {
        width: 50%;
    }

    .platformContent p {
        font-size: 12px;
    }
}

@media(max-width:900px) {

    /*Marketplace*/
    .platform {
        display: flex;
        flex-direction: column;
    }

    .platformContent {
        padding: 0 10px;
        width: 100%;
    }

    .platformContent p {
        font-size: 16px;
    }



    /* Features */

    .gridFeatures {
        flex-direction: column;
        height: 450px;
    }

    .portfolio, .giveaways, .deals {
        height: 100px;
    }

    /*Roadmap*/

    .firstRoadmap {
        gap: 50px;
    }

    .firstRoadmap p {
        width: 50%;
        font-size: 14px;
    }

    .Phase {
        width: 50%;
    }

    .firstRoadmap h2 {
        font-size: 146px;

    }

}


@media(max-width:800px) {

    /*Home*/
    #Home {
        text-align: center;
    }

    /*Roadmap*/
    .firstRoadmap {
        padding: 0 40;
        margin: 10 0 80 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .firstRoadmap p {
        width: 100%;
    }

    #roadMapRed {
        flex-direction: column-reverse;
    }

    .Phase {
        width: 100%;
    }

    /* Tax*/

    .taxContainer {
        display: grid;
        grid-template-columns: repeat(1, auto);
    }
}


@media(max-width:500px) {

    .styledSection {
        padding: 60 0 20 0;
    }

    .header {
        padding: 0 20;
    }

    .allContent {
        width: 100%;
        padding: 0;
    }

    .contentContainer {
        width: 100%;
    }

    .contentContainer h1 {
        font-size: 45px;
        width: 100%;
    }

    .homeButtons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

}

@media(max-width:400px) {

    .sectionTitle {
        font-size: 25px;
    }

    .contentContainer h1 {
        font-size: 35px;
    }

    .homeButtons button {
        padding: 15 40;
    }

    #chart {
        width: 100% !important;
        background-color: transparent;
    }

    .firstRoadmap h2 {
        font-size: 100px;
    }

    .homeButtons {
        flex-direction: column;
    }

}